* {
    scroll-behavior: smooth;
}

html {
    font-size: 18px;

    @media (max-width: $xl) {
        font-size: 16px;
    }
}

body {
    background: url('../img/bg.png') repeat 100%;
    background-color: #eaeae8;
}

.container{
    @media (max-width: $md) {
    padding: 0 !important;
    max-width: 100% !important;
    }
}

.section-padding {
    padding-left: 60px;
    padding-right: 60px;

    @media (max-width: $xl) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: $lg) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.section-white {
    background-color: #fff;
}

.section-gray {
    background-color: #606060;
}

