<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ meta_description }}">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/libs/swiper/swiper-bundle.min.css">
    <title>{{ title }}</title>
</head>
<body>
    {% include "_html/_includes/_header.html" %}

    {% include "_html/_includes/_section-purpose.html" %}
    {% include "_html/_includes/_section-for.html" %}
    {% include "_html/_includes/_section-autors.html" %}
    {% include "_html/_includes/_section-program.html" %}

    {% include "_html/_includes/_footer.html" %}
<script src="/libs/jquery.min.js"></script>
<script src="/libs/swiper/swiper-bundle.min.js"></script>
<script src="/assets/js/custom.min.js"></script>
</body>
</html>
