.tarifs {

    .section-padding {
        padding-bottom: 40px;
        background-image: url('../../assets/img/tarifs-bg.webp');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top center;

        @media (max-width: $lg) {
            background-size: cover;
        }
    }

    &-header {
        @include flex(flex-start, flex-start);
        padding: 40px 0 60px;

        @media (max-width: $md) {
            flex-direction: column;
        }

        &__title {
            width: 30%;
            @include font('Roboto-Black', normal, 1.747rem, $color-gray);
            text-transform: uppercase;
            text-align: right;
            padding-right: 20px;

            @media (max-width: $md) {
                width: 100%;
                text-align: center;
                padding-bottom: 20px;
            }
        }

        &__text {
            @include font('Roboto-Bold', normal, 1rem, $color-gray);
            padding-left: 20px;
            background: linear-gradient(#b9003d, #b9003d) no-repeat 0/10px;

            span {
                display: block;
            }
        }
    }

    &-row {
        @include flex(stretch, center);
        gap: 20px;
        
        @media (max-width: $md) {
            flex-direction: column;
        }
    }

    &-col {
        @include flex (flex-end, space-between);
        flex-direction: column;
        position: relative;
        background-color: rgba($color-gray, 0.8);
        border-radius: 10px;
        padding: 60px 30px 20px;
        width: 45%;

        @media (max-width: $md) {
            width: 100%;
        }
    }

    &-badge {
        position: absolute;
        top: 0;
        left: -15px;
        width: 150px;
        height: 60px;
        padding-bottom: 10px;
        background-image: url('../img/contur-left.svg');
        background-repeat: no-repeat;
        @include flex;
        @include font('Roboto-Bold', normal, 0.8rem,#fff);

        &_right {
            right: -15px;
            left: auto;
            background-image: url('../img/contur-right.svg');
        }
    }

    &-button {
        width: 150px;
        height: 50px;
        background-color: $color-red;
        @include flex;
        @include font('Roboto-Bold', normal, 0.8rem,#fff);
    }

    &-title {
        @include font('Roboto-Bold', normal, 1rem, $color-red);
        text-transform: uppercase;
        padding-bottom: 20px;
        width: 100%;
    }

    &-list {
        @include font('Roboto-Regular', normal, 0.9rem, #fff);
        padding-bottom: 60px;

        &__item {
            vertical-align: middle;
            list-style-position: inside;
            list-style-type: disc;
            list-style-image: linear-gradient($color-red, $color-red);
            padding-bottom: 10px;

            &_none {
                text-decoration: line-through;
                color: rgba(#fff, 0.5);
            }
        }
    }

    &-footer {
        color: #fff;
        margin-top: auto;
        width: 100%;
        @include flex(center, space-between);

        &__oldprice {
            display: block;
            @include font('Roboto-Bold', normal, 0.88rem, #fff);
            text-decoration: line-through;
            padding-left: 15px;
        }

        &__price {
            display: block;
            @include font('Roboto-Bold', normal, 1rem, #fff);
            padding-left: 15px;
        }
    }
}
