<footer class="footer">
    <div class="container">
        <div class="section-padding section-gray">
            <div class="footer-content">
                <ul class="footer-list">
                    <li class="footer-list__item">
                        Консультационные услуги, описанные на данном сайте, оказываются ИП Стволинский Олег Сергеевич, ОГРНИП 
                    </li>
                    <li class="footer-list__item">
                        Информация, представленная на сайте, является рекламно-ознакомительной и не попадает под определение закона об оферте.
                    </li>
                    <li class="footer-list__item">
                        Конечная стоимость услуг определяется индивидуально в договоре оказания услуг между исполнителем и заказчиком.
                    </li>
                    <li class="footer-list__item">
                        Владелец сайта не несёт ответственность за любые убытки, прямые или косвенные, возникшие в результате использования информации, п
                        редставленной на сайте.
                    </li>
                </ul><!-- /.footer-list -->
                <a href="/" class="footer-logo">
                    <img src="/assets/img/logo.webp" alt="logo" >
                </a>
            </div><!-- /.footer-content -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</footer>