<section class="purpose" id="purpose">
    <div class="container">
        <div class="section-padding">
            <h1 class="purpose-heading">
                Цель программы
            </h1>
            <h2 class="purpose-subheading">
                Помочь начинающим женщинам-предпринимателям самостоятельно начать и / или принять в управление малый бизнес в текущей ситуации с временным отъездом / мобилизацией мужчин активного возраста и вывести его на целевой показатель чистой прибыли.
            </h2>

            <div class="purpose-list">
                <div class="purpose-item">
                    <div class="purpose-item__num">

                    </div>
                    <span class="purpose-item__text">
                        
                    </span>                    

                </div>
            </div>

        </div>
    </div>
</section>