<section class="tarifs" id="tarifs">
    <div class="container">
        <div class="section-padding section-white">
            <div class="tarifs-header">
                <h1 class="tarifs-header__title">Форма заказа</h1>
                <div class="tarifs-header__text">
                    <span>Старт ближайшего потока – 12 января 2022 года!</span>
                    <span>Группа по четвергам в 19:00.</span>
                    <span>Занятия в малой группе 7-10 человек в течение 7 недель.</span>
                </div>
            </div>
        </div>
    </div>
</section>