<section class="tarifs" id="tarifs">
    <div class="container">
        <div class="section-padding section-white">
            <div class="tarifs-header">
                <h1 class="tarifs-header__title">Форма заказа</h1>
                <div class="tarifs-header__text">
                    <span>Старт ближайшего потока - 12 января 2022 года!</span>
                    <span>Группа по четвергам в 19:00.</span>
                    <span>Занятия в малой группе 7-10 человек в течение 7 недель.</span>
                </div>
            </div><!-- /.tarifs-header -->
            <div class="tarifs-row">
                <div class="col">
                    <div class="tarif-badge">только 10 мест</div>
                    <h2 class="tarif-title">Пакет «Малая группа»:</h2>
                    <ul class="tarif-list">
                        <li class="tarif-list__item">Прохождение программы в составе малой группы;</li>
                        <li class="tarif-list__item">Профориентация и психологическая поддержка в групповом формате;</li>
                        <li class="tarif-list__item">Участие в 7 онлайн вебинарах на еженедельной основе;</li>
                        <li class="tarif-list__item">Разбор домашних заданий и кейсов в формате мастер-майнд;</li>
                        <li class="tarif-list__item">Доступ в закрытый Телеграм-чат c наставниками и другими участницами бесплатно в течение 3 месяцев, далее 1.000 руб. в месяц.</li>
                    </ul>
                    <div class="tarif-footer">
                        <span class="tarif-footer__oldprice">49.000 рублей</span>
                        <span class="tarif-footer__price">29.000 рублей</span>
                    </div>
                </div><!-- /.col -->
                <div class="col">
                    <div class="tarif-badge">только 3 места</div>
                    <h2 class="tarif-title">Пакет «Индивидуальный»:</h2>
                    <ul class="tarif-list">
                        <li class="tarif-list__item">Прохождение программы в составе малой группы;</li>
                        <li class="tarif-list__item">Профориентация и психологическая поддержка в групповом формате;</li>
                        <li class="tarif-list__item">Участие в 7 онлайн вебинарах на еженедельной основе;</li>
                        <li class="tarif-list__item">Разбор домашних заданий и кейсов в формате мастер-майнд;</li>
                        <li class="tarif-list__item">Доступ в закрытый Телеграм-чат с наставниками и другими участницами бесплатно на 1 год.</li>
                        <li class="tarif-list__item">5 индивидуальных разборов с бизнес-психологом и/или наставником-предпринимателем по теме групповых занятий.</li>
                        <li class="tarif-list__item">Комплект бизнес-литературы по программе курса в подарок.</li>
                    </ul>
                    <div class="tarif-footer">
                        <span class="tarif-footer__oldprice">149.000 рублей</span>
                        <span class="tarif-footer__price">99.000 рублей</span>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.tarifs-row -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->
</section>