<section class="autors" id="autors">
    <div class="container">
        <div class="section-padding section-white">
            <h1 class="autors-heading">Программу ведут:</h1>
            <div class="autors-item">
                <img src="/assets/img/woman.webp" alt="Анна Секачева" class="autors-item__image">
                <div class="autors-item__text">
                    <strong>Анна Секачева </strong>
                    <p>Дипломированный психолог практик, автор методики по построению жизни и работы
                        в удовольствие; 5+ лет в психологии; помимо психологического образования -экономическое;
                        10+ лет опыта работы в финансах и продажах; С нуля сменила профессию, преодолев все трудности.
                    </p>
                </div><!-- /.autors-item__text -->
            </div><!-- /.autors-item -->

            <div class="autors-item">
                <img src="/assets/img/man.webp" alt="Стволинский Олег<" class="autors-item__image">
                <div class="autors-item__text">
                    <strong>Стволинский Олег</strong>
                    <p>Опытный предприниматель и управленец, построивший с
                        нуля 3 компании с оборотом более 100 млн. руб.
                        каждая; ранее топ-менеджер компаний с капитализацией до $20 млрд.;
                        автор и ведущий программ наставничества для предпринимателей,
                        обучивший уже 300+ руководителей и владельцев малого бизнеса.
                        Наставник программ Правительства Москвы и фонда «Новые лидеры».
                        Степень МБА.
                    </p>
                </div><!-- /.autors-item__text -->
            </div><!-- /.autors-item -->
        </div><!-- /.section-padding -->
    </div><!-- /.container -->

</section>