<section class="testimonials" id="testimonials">
    <div class="container">
        <div class="section-white">
            <!-- Slider main container -->
            <div class="swiper testimonials-slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <video>
                            <source src="/assets/img/testimonials/1.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>   
                    </div>
                    <div class="swiper-slide">
                        <video>
                            <source src="/assets/img/testimonials/2.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                            <source src="/assets/img/testimonials/2.ogv" type='video/ogg; codecs="theora, vorbis"'>
                        </video>
                    </div>
                    <div class="swiper-slide">
                        <video>
                            <source src="/assets/img/testimonials/3.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                        </video>
                    </div><!-- / .swiper-slide -->
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
            </div>
        </div>
    </div>
</section>

<video width="400" height="300" controls="controls" poster="video/duel.jpg">
    <source src="/assets/img/testimonials/2.mp4" type='video/mp4'>
    <source src="/assets/img/testimonials/2.ogv" type='video/ogg'>
    <source src="/assets/img/testimonials/1.webm" type='video/webm'>
</video>