<section class="tarifs" id="tarifs">
    <div class="container">
        <div class="section-white">
            <div class="section-padding">
            <div class="tarifs-header">
                <h1 class="tarifs-header__title">Форма заказа</h1>
                <div class="tarifs-header__text">
                    <span>Старт ближайшего потока - 15 октября 2023 года!</span>
                    <span>Группа по четвергам в 19:00.</span>
                    <span>Занятия в малой группе 7-10 человек в течение 7 недель.</span>
                </div>
            </div><!-- /.tarifs-header -->
            <div class="tarifs-row">
                <div class="tarifs-col">
                    <div class="tarifs-badge">только 10 мест</div>
                    <h2 class="tarifs-title">Пакет «Малая группа»:</h2>
                    <ul class="tarifs-list">
                        <li class="tarifs-list__item">Персонально закреплённого Куратора, который будет обеспечивать Вам комфортное
                            нахождение в группе и отвечать за все организационные вопросы;</li>
                        <li class="tarifs-list__item">Участие в 4 живых онлайн вебинарах с Наставниками по указанной выше программе;</li>
                        <li class="tarifs-list__item">Домашние задания от Наставников в формате автовебинаров (общей длительностью более 4 часов) по изучаемым темам и практических заданий по Вашему бизнесу;</li>
                        <li class="tarifs-list__item">Разбор домашних заданий и обратная связь от Наставников;</li>
                        <li class="tarifs-list__item">Участие в чате группы с Наставниками, Кураторами и другими учениками.</li>
                        <li class="tarifs-list__item">Сопровождение по возникающим вопросам в чате группы по окончании программы;</li>
                    </ul>
                    <div class="tarifs-footer">
                        <a href="#callback" class="btn tarifs-button" data-tarif="Пакет «Малая группа»">Выбрать</a>
                        <div class="tarifs-prices">
<!--                            <span class="tarifs-footer__oldprice">49.000 рублей</span>-->
                            <span class="tarifs-footer__price">49.000 тг / $120 / 10.000 руб</span>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="tarifs-col">
                    <div class="tarifs-badge tarifs-badge_right">только 3 места</div>
                    <h2 class="tarifs-title">Пакет «Индивидуальный»:</h2>
                    <ul class="tarifs-list">
                        <li class="tarifs-list__item">Индивидуальное сопровождение со стороны Наставников при выполнении домашних заданий;</li>
                        <li class="tarifs-list__item">Четыре индивидуальных сессии с разборами от Наставников длительностью до 1,5 часов по Вашим запросам.</li>
                    </ul>
                    <div class="tarifs-footer">
                        <a href="#callback" class="btn tarifs-button" data-tarif="Пакет «Индивидуальный»">Выбрать</a>
                        <div class="tarifs-prices">
<!--                            <span class="tarifs-footer__oldprice">149.000 рублей</span>-->
                            <span class="tarifs-footer__price">290.000 тг / $640 / 60.000 руб</span>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.tarifs-row -->
        </div><!-- /.section-padding -->
        </div><!-- /.section-white -->
    </div><!-- /.container -->
</section>